
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}
*{
    box-sizing: border-box;
   
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    width:100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 100;
}
.social-call{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    margin: 0px 5px;
    color: rgba(0,0,0,0.7);
    font-size: 0.9rem;
}
.phone{
    color: rgba(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}
.social a:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.logo img{
    height: 30px;
}
.menu{
    display: flex;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #555555;
}
.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}
.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}
.sale-lable{
    width:38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}
.sale-lable:after{
    content: '';
    width:0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}
.fa-shopping-cart{
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
/* ALL ABOVE CSS IS FOR THE HEADER -----------------------------------------------*/

.search-bar{
    width:100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
    z-index: 101;
    animation: search 0.3s;
}
.search-input{
    width:90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.search-bar input{
    width:100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}
.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



.column {
  padding: 4%;
  border: solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  }

.shopping-item-card{
  margin-right: 100px;
  position: relative;
  color: white;

  padding: 10rem 0 0;
  max-width: 50ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}


.shopping-item-card:hover{
  transform: scale(1.02);
}

.shopping-content{
  padding: 1.5rem;
  background: linear-gradient(
    hsl(0 0% 0% / .0),
    hsl(0 0% 0% / 1)
    );

   
}

.shopping-item-title{
  position: relative;
  overflow: hidden;
}


.shopping-item-title::after{
  content: "";
  left:0;
  bottom: 0;
  position: absolute;
  height: 4px;
  background: black;
  width: 100%;

  transition: transform 500ms ease;
}


.shopping-item-add{
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: lightgreen;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.shopping-item-add:hover,
.shopping-item-add:focus {
  background-color: white;
}

@media (hover){
  .shopping-content{
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .shopping-item-title::after{
    transform: scaleX(0);
  }
  .shopping-item-card:hover .shopping-item-title::after{
    transform:scaleX(1);
  }
  .shopping-content > *:not(.shopping-item-title){
    opacity: 0;
    transition: opacity 500ms linear;
  }
  
  .shopping-item-card:hover .shopping-content{
    transform: translateY(0);
  }
  
  .shopping-item-card:hover .shopping-content > * {
    opacity: 1;
  }
}
  
  /* Responsive columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
   
  }
  
    .content {
        max-width: 500px;
        margin: auto;
        margin-top: 2%;
        background: white;
        border: 1px solid #ddd7d7;
        border-radius: 10px;
          
      }
      /* Main column */
    .main {   
      
      border-radius: 0.5em;
      outline: var(--outline-width) solid lime;
    
      -ms-flex: 70%; /* IE10 */
      flex: 70%;
      background-color: white;
      padding: 20px;
    }
    .main img{   
      background-color: #faf8f8;
      border-radius: 1em;
      outline: var(--outline-width) solid lime;
      box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
      margin-bottom: 5%;
      margin-top: 5%;
      
     
    }
    .addToCart{
      outline: var(--outline-width) solid lime;
      box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
      margin-bottom: 5%;
      margin-top: 5%;
      padding: 5%;
    }
    .main h2{
      text-align: center;
      font-size: 26px;
    
    }
    .main h5{
      text-align: center;
      font-size: 14px;
      font-weight: lighter;
    
      
    }
    
    .fakeimg img {
      
      width: 100%;
      height: auto;
      padding: 50px;
    }
.selector select{
    display: flexbox;
    width: 100%;
    height: 50px;
}

.flex-horiz-container{
    
    outline: var(--outline-width) solid lime;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    padding: 2%;
}

.flex-horiz-container button{
    width: 100%;
    padding: 5%;
    background-color: #28d822d0;
    border: none;
    border-radius: 1em;
    font-size: 18px;
}


.flex-horiz-container button:hover {
    opacity: 0.7;
  }
















  .footer {
    margin-top: 2%;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #555558d8;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  /* =========================================================shopping-cart cheak out */
 

  * {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  

  
  .imgCart {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 4px;
  }
  
  a {
    text-decoration: none;
    color: #333333;
  }
  
  a:hover {
    color: #cccccc;
  }
  
  button {
    background-color: #eaf1ea;
    border: 1px solid #b3b3b3;
    color: #3f3e3e;
    transition: all 0.25s linear;
    cursor: pointer;
  }
  
  button::after {
    position: relative;
    right: 0;
    content: " \276f";
    transition: all 0.15s linear;
  }
  
  button:hover {
    background-color: #cccccc;
    
  }
  
  button:hover::after {
    right: -2px;
  }
  
  button:focus {
    outline: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    
  }
  
  input {
    transition: all 0.25s linear;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  input {
    outline: none;
  }
  
  .containerCart {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  
  }
  
  /* --- HEADER --- */
 
  
  header .count {
    float: right;
    color: #333333;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
  }
  
  /* --- PRODUCT LIST --- */
  .productsCart {
    border-top: 1px solid #ddd;
  }
  
  .productsCart > li {
    padding: 1rem 0;
    border: 1px solid #ddd;
  }
  
  .row {
    position: relative;
    overflow: auto;
    width: 100%;
  }
  
  .col,
  .quantity,
  .removeItem {
    float: left;
  }
  
  .col.left {
    width: 50%;
  }
  
  .col.right {
    width: 50%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
  }
  
  .detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
  }
  
  .detail .name {
    font-size: 1.2rem;
  }
  
  .detail .description {
    color: #7d7d7d;
    font-size: 1rem;
  }
  
  .detail .price {
    font-size: 1.5rem;
  }
  
  .quantity,
  .removeItem {
    width: 50%;
    text-align: center;
  }
  
  .removeItem svg {
    width: 40px;
    height: 40px;
  }
  
  .quantity > input {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    left: calc(50% - 30px);
    background: #fff;
    border: 1px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 200 1.5rem Helvetica, Arial, sans-serif;
  }
  
  .quantity > input:hover,
  .quantity > input:focus {
    border-color: #c4c4c4;
  }
  
  .close {
    fill: #7d7d7d;
    transition: color 150ms linear, background-color 150ms linear,
      fill 150ms linear, 150ms opacity linear;
    cursor: pointer;
  }
  
  .close:hover {
    fill: #c4c4c4;
  }
  
  /* --- SUMMARY --- */
  .promotion,
  .summaryCheckOut,
  .checkout {
    float: left;
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .promotion > label {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .promotion > input {
    float: left;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 1.8rem;
    border: 2px solid #c4c4c4;
    margin-bottom: 5%;
  
  }
  
  .promotion:hover > input {
    border-color: #c4c4c4;
  }
  
  .promotion > button {
    float: left;
    width: 20%;
    height: 2.4rem;
  
   
  }
  
  .promotion:hover > button {
    border-color: #c4c4c4;
    background-color: #c4c4c4;
  }
  
  .promotion > button::after {
    content: "\276f";
    font-size: 1rem;
  }
  
  .summaryCheckOut {
    font-size: 1.2rem;
  
  }
  
   .summaryCheckOut ul li {
    padding: 0.5rem 0;
    
  }
  
  .summaryCheckOut ul li span {

    width: 30%;
  }
  
  
  .summaryCheckOut ul li.total {
    font-weight: bold;
  }
   
  .checkout {
    text-align: right;
  }
  
  .checkout > button {
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
 
  }
  
  .empty-product {
    text-align: center;
  }
  
  .empty-product > button {
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 5px;
  }
  
  /* --- SMALL SCREEN --- */
  @media all and (max-width: 599px) {
    .thumbnail img {
      display: none;
    }
  
    .quantity > input {
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
    }
  
    .removeItem svg {
      width: 40px;
      height: 40px;
    }
  }
  
  /* --- MEDIUM & LARGE SCREEN --- */
  @media all and (min-width: 600px) {
    
  
    .containerCart {
      width: 75%;
      max-width: 960px;
    }
  
    .thumbnail,
    .detail {
      float: left;
    }
  
    .thumbnail {
      width: 35%;
    }
  
    .detail {
      width: 65%;
    }
  
    .promotion,
    .summary {
      width: 50%;
    }
  
    .checkout {
      width: 100%;
    }
  
    .checkout,
    .summaryCheckOut {
      text-align: right;
    }
  }






