
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}
* {
  box-sizing: border-box;
  
}

.topnav {
  overflow: hidden;
  padding: 2%;
  
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  
  color: #000000;
  margin-left: 2%;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.itemMeny{
  float: right;
  margin-right: 2%;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  
  color: rgb(151, 146, 146);
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .active {
  
    margin-left: 0%;
  }
 
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .itemMeny{
    float: left;
  
  }
}

























.fa-shopping-cart{
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}





  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .row{
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  padding: 15%;
  outline: var(--outline-width) solid lime;
  box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.1), 0 0.1em 1em rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 1050px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .shopping-item-card{
 
  color: white;
  
  max-height: 100ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  float:left;
  padding: 2%;
  
} 

.shopping-item-image{
  
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;
  height: 500px;
  padding: 5%;
  

}

.shopping-item-card:hover{
  transform: scale(1.03);
}

.shopping-content{
  padding: 1.5rem;
  background: linear-gradient(
    hsl(0 0% 0% / .0),
    hsl(0 0% 0% / 1)
    );
  height: 300px;
      outline: var(--outline-width) solid lime;
      -ms-flex: 60%; /* IE10 */
      flex: 60%;
     
  
}

.shopping-item-title{
  position: relative;
  overflow: hidden;
}


.shopping-item-title::after{
  content: "";
  left:0;
  bottom: 0;
  position: absolute;
  height: 4px;
  background: black;
  width: 100%;
  transition: transform 500ms ease;
}


.shopping-item-add{
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: lightgreen;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.shopping-item-add:hover,
.shopping-item-add:focus {
  background-color: white;
}

@media (hover){
  .shopping-content{
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .shopping-item-title::after{
    transform: scaleX(0);
  }
  .shopping-item-card:hover .shopping-item-title::after{
    transform:scaleX(1);
  }
  .shopping-content > *:not(.shopping-item-title){
    opacity: 0;
    transition: opacity 500ms linear;
  }
  
  .shopping-item-card:hover .shopping-content{
    transform: translateY(0);
  }
  
  .shopping-item-card:hover .shopping-content > * {
    opacity: 1;
  }
}
  
  /* Responsive columns */
  @media screen and (max-width: 1200px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
   
  } 
  
    .content {
        max-width: 500px;
        margin: auto;
        margin-top: 2%;
        background: white;
        border: 1px solid #ddd7d7;
        border-radius: 10px;
          
      }
      /* Main column */
    .main {   
      
      border-radius: 0.5em;
      outline: var(--outline-width) solid lime;
      -ms-flex: 70%; /* IE10 */
      flex: 70%;
      background-color: white;
      padding: 20px;
    }
    .main img{   
      background-color: #ffffff;
      border-radius: 1em;
      outline: var(--outline-width) solid lime;
      box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
      margin-bottom: 5%;
      margin-top: 5%;
      
     
    }
    .addToCart{
     
      margin-bottom: 5%;
      margin-top: 5%;
      padding: 5%;
    }
    .main h2{
      text-align: center;
      font-size: 26px;
    
    }
    .main h5{
      text-align: center;
      font-size: 14px;
      font-weight: lighter;
    
      
    }
    
    .fakeimg img {
      
      width: 100%;
      height: auto;
      padding: 50px;
    }
.selector select{
    display: flexbox;
    width: 100%;
    height: 50px;
}

.flex-horiz-container{
    
    margin-bottom: 5%;
    padding: 2%;
}

.flex-horiz-container button{
    width: 100%;
    padding: 5%;
    background-color: #28d822d0;
    border: none;
    border-radius: 1em;
    font-size: 18px;
}


.flex-horiz-container button:hover {
    opacity: 0.7;
  }



  .footer {
    margin-top: 2%;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #ffffffd8;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgb(22, 22, 22);
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #474343;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  /* =========================================================shopping-cart cheak out */
 

 


/* ============================================¤ style kundInformation ¤============================================ */
.topBefore input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.topBefore input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

.topBefore input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.topBefore input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

.topBefore input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.topBefore input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

.topBefore input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.topBefore input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

.topBefore input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.topBefore input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

.topBefore input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.topBefore input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

.topBefore input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.topBefore input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

.topBefore input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.topBefore input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



#form {
  max-width: 500px;
  margin: auto;
  margin-top: 2%;
  border-radius: 1em;
outline: var(--outline-width) solid lime;
box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
padding: 2%;
  
}

.topBefore input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 80%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  
outline: var(--outline-width) solid lime;
box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.055), 0 0.1em 1em rgba(0, 0, 0, 0.048);
  
}

.topBefore input:hover {
  background: #7a797898;
  color: #e2dedb;
}



.topBefore textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

/* ============================================¤ style kundInformation slutar ¤============================================ */



.wrap{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;


}
.step{
  border-bottom: solid 2px rgb(185, 185, 185);
  margin: 2%;
}
.title
{
  text-decoration: wavy;
  color: #636363;
}
/* ============================================¤ Style varukorg  ¤============================================ */

.imgCart {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #cccccc;
}

.checkout button {
  width: 100%;
  padding: 2%;
  background-color: #ffffffb6;
  color: #313131cb;
  border: none;
  text-align: right;
  font-weight: bold;
  font-size: 30px;

}

.checkout i:hover {
  color: #5e5a5aa9;
 
  
}
.checkout span:hover {
  color: #5e5a5aa9;
 
  
}



ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

input {
  transition: all 0.25s linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input {
  outline: none;
}

.containerCart {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
padding: 2%;
outline: var(--outline-width) solid lime;
box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.1), 0 0.1em 1em rgba(0, 0, 0, 0.1);

}

/* --- HEADER --- */


header .count {
  float: right;
  color: #333333;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

/* --- PRODUCT LIST --- */
.productsCart {
  border-top: 1px solid #ddd;
  padding: 2%;
  
}

.productsCart > li {
  padding: 1rem 0;
  border: 1px solid #ddd;
}

.row {
  position: relative;
  overflow: auto;
  width: 100%;
}

.col,
.quantity,
.removeItem {
  float: left;
}

.col.left {
  width: 50%;
}

.col.right {
  width: 50%;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.detail {
  padding: 0 0.5rem;
  line-height: 2.2rem;
}

.detail .name {
  font-size: 1.2rem;
}

.detail .description {
  color: #7d7d7d;
  font-size: 0.5rem;
}


.detail .price {
  font-size: 1rem;
}

.quantity,
.removeItem {
  width: 50%;
  text-align: center;
}

.removeItem svg {
  width: 40px;
  height: 40px;
}

.quantity > input {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 1px solid #ddd;
  color: #7f7f7f;
  text-align: center;
  font: 200 1.5rem Helvetica, Arial, sans-serif;
}

.quantity > input:hover,
.quantity > input:focus {
  border-color: #c4c4c4;
}

.close {
  fill: #7d7d7d;
  transition: color 150ms linear, background-color 150ms linear,
    fill 150ms linear, 150ms opacity linear;
  cursor: pointer;
}

.close:hover {
  fill: #c4c4c4;
}

/* --- SUMMARY --- */
.promotion,
.summaryCheckOut,
.checkout {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
}

.promotion > label {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
}

.promotion > input {
  float: left;
  width: 80%;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.8rem;
  border: 2px solid #c4c4c4;
  margin-bottom: 5%;

}

.promotion:hover > input {
  border-color: #c4c4c4;
}

.promotion > button {
  float: left;
  width: 20%;
  height: 2.4rem;

 
}

.promotion:hover > button {
  border-color: #c4c4c4;
  background-color: #c4c4c4;
}

.promotion > button::after {
  content: "\276f";
  font-size: 1rem;
}

.summaryCheckOut {
  font-size: 1.2rem;

}

 .summaryCheckOut ul li {
  padding: 0.5rem 0;
  
}

.summaryCheckOut ul li span {

  width: 30%;
}


.summaryCheckOut ul li.total {
  font-weight: bold;
}
 
.checkout {
  text-align: right;
}

.checkout > button {
  font-size: 1.2rem;
  padding: 0.8rem 2.8rem;

}

.empty-product {
  text-align: center;
}

.empty-product > button {
  font-size: 1.3rem;
  padding: 10px 30px;
  border-radius: 5px;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .thumbnail img {
    display: none;
  }

  .quantity > input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }

  .removeItem svg {
    width: 40px;
    height: 40px;
  }
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
  

  .containerCart {
    width: 75%;
    max-width: 960px;
  }

  .thumbnail,
  .detail {
    float: left;
  }

  .thumbnail {
    width: 35%;
  }

  .detail {
    width: 65%;
  }

  .promotion,
  .summary {
    width: 50%;
  }

  .checkout {
    width: 100%;
  }

  .checkout,
  .summaryCheckOut {
    text-align: right;
  }
}
  /* ============================================¤ Style varukorg slutar  ¤============================================ */

  /* ============================================¤ Style Leverans  ¤============================================ */


.container {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 32.26%; max-width: 32.26%;}




.col {
display: block;
float:left;
margin: 2% 0 2% 1.6%;
overflow-y: hidden; 
overflow-x: hidden; 
transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  

}

.col:first-of-type { margin-left: 0; }



.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
display: none;

}

.form label{
position: relative;
color: #fff;
background-color: rgb(209, 207, 207);
  border-radius: 2%;
  border-radius: 1em;
  outline: var(--outline-width) solid lime;
  box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.021), 0 0.1em 2em rgba(0, 0, 0, 0.027);
font-size:1vw;
text-align: center;
height: 100px;
line-height: 100px;
display: block;
cursor: pointer;
border: 3px solid transparent;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
@media only screen and (max-width: 600px){
.form label{
      
     
      font-size:2vw;
      
  }
}
  /* ============================================¤ Style Leverans slutar  ¤============================================ */

  /* ============================================¤ Style Betalningsmedot  ¤============================================ */


.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
background-color: #2fcc709f;

}

.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after{
content: "\2713";
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 100%;

background-color: #2fcc71;
z-index: 999;
position: absolute;
top: -10px;
right: -10px;
 
}

.checkout-panel {
  max-width: 500px;
  margin: auto;
  margin-top: 2%;
  background: white;
  padding: 3%;
  border: 1px solid #ddd7d7;
    border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  border-radius: 1em;
outline: var(--outline-width) solid lime;
box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
}

 
.title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  color: #2e2e2e;
}

.payment-method {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}
 
.method {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  align-items: center;
}
 
.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
 
.radio-input {
  margin-top: 20px;
  
}
 
.checkout-panel input[type='radio'] {
  display: inline-block;
}
.input-fields {
  display: flex;
  justify-content: space-between;
}
 
.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}
 
.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}
 

 
.checkout-panel input[type='text'],
input[type='password'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}
 
.checkout-panel input[type='text']:focus,
input[type='password']:focus {
  border-color: rgb(119, 219, 119);
}
 
.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
 

.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 80px;
  background-color: rgb(239, 239, 239);
  justify-content: space-between;
  align-items: center;
}

.blue-border {
  border: 1px solid rgb(110, 178, 251);
}
.warning {
  border-color: #1abc9c;
}

  /* ============================================¤ Style Betalningsmedot slutar ¤============================================ */

    /* =========================================================Prodkter efter valt dropdown*/
   


  
.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 400px;
  margin: auto;
  margin-bottom: 10%;
  text-align: center;
  font-family: arial;
  border-radius: 1em;
  outline: var(--outline-width) solid lime;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1200px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;

  }
}

    /* =========================================================Prodkter efter valt dropdown slut*/

    .shopitemImg{
      width:200; 
      height:150px; 
      padding:5% ;
      transition: all .2s ease-in-out;
      cursor: pointer;
    }
    .shopitemImg:hover{
      transform: scale(1.1); 
    }

    .card1 h4{
      padding:5%; margin-top: 50px;
      cursor: pointer;

    }
    .card1 p{
      cursor: pointer;

    }
  a {
    cursor: pointer;
  }
  button{
    cursor: pointer;
  }

  * {
    box-sizing: border-box;
  }
  
  
  
  
  /* Column container */
  .row1 {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #ffffff;
    padding: 20px;
  }
  .side li {
    width: 100%;
    font-size:1vw;
    padding: 2%;
    margin: 2%;
    background-color: #f0e8e859;
    text-align: center;
    font-weight: bold;
  }  
  
  /* Main column */
  .main1 {   
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg2 {
   background-image: url(/Logo.PNG);
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row1 {   
      flex-direction: column;
    }
    .side li {
     
      font-size:3vw;
     
    } 
  }
  
    
  
  
  
    


